<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TraspasFacturas_ConexionSqlPlantillaOrigen" value="" />
	  <add key="TraspasFacturas_ConexionSqlPlantillaOrigen" value="Provider=SQLOLEDB;Data Source=NB-TAGG31;Initial Catalog=CPPORRAS;User ID=sa;Password=;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
